<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Node express server</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>
  <body>
    {{>header}}
    <h2>{{name}} je car</h2>
  </body>
</html>
